* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(120deg, #6a11cb, #2575fc) no-repeat;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  color: #f5f5f5;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  color: #ffffff;
  background: #007bff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 16px;
  margin: 20px;
  border: none;
  text-align: center;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.btn:active {
  background: #003f7f;
  transform: translateY(2px);
}

.currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.currency select {
  margin-bottom: 10px;
}

.currency input {
  font-size: 18px;
  text-align: center;
  padding: 12px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.swap-rate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.rate {
  color: #333333;
  font-size: 18px;
  margin-bottom: 20px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
  /* Inverter a ordem do BRL e do input na parte superior */
  .currency {
    flex-direction: column-reverse;
  }

  /* Inverter a ordem do BRL e do input na parte inferior */
  .swap-rate-container {
    flex-direction: column-reverse;
  }

  .btn {
    width: 100%;
  }

  .swap-rate-container {
    width: 100%;
  }

  .currency input,
  .currency select {
    width: 100%;
    margin: 5px 0;
  }
}

@media (min-width: 601px) {
  .currency {
    flex-direction: column-reverse; /* Para telas maiores, também invertemos a ordem */
  }

  .swap-rate-container {
    flex-direction: column-reverse; /* Para telas maiores, também invertemos a ordem */
  }
}

  
